*{
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
}

.wrap .item:nth-child(2){
    color: green;
    background-color: aqua;
    font-weight: bold;
}

.wrap .item:nth-child(4){
    color: green;
    background-color: aqua;
    font-weight: bold;
}

.father #p2{
    color: red;
}

table #d1{
    font-weight: bold;
    background-color: antiquewhite;
}

table #nv{
    font-weight: bold;
}






 